body{
    margin: 0px;
    padding: 20px;
    min-width: 400px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#input-field{
    padding: 10px;
    width: 100%;
    border: 1.5px solid green;
    border-radius: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

#input-btn,#savetab-btn{
    padding-block: 8px;
    padding-inline: 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1.5px solid rgba(0, 128, 0, 0.146);
    background-color: green;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
#delete-btn{
    padding-block: 8px;
    padding-inline: 20px;
    font-size: 18px;
    font-weight: 600;
    border: 1.5px solid rgba(0, 128, 0, 0.146);
    background-color: white;
    color: green;
    border-radius: 20px;
    cursor: pointer;
}
ul{
    list-style: none;
    color: green;
    font-size: 15px;
}
a{
    color: green;
}
li{
    margin: 5px;
}